body {
    background-color: lightcyan;
    background-image: url("./images/backgrounds/sea.png");
    text-align: center;
    font-family: "Pirate";
}

@font-face {
    font-family: "Pirate";
    src:url("./fonts/BattlesbridgeDemo-AL126.ttf")
}

.pirate {
    font-family: "Pirate";
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2px;
    justify-content: center;
}

li {
    margin: 1px;
}
img {
    width: 300px;
    /* border: 5px solid lightgreen; */
}